*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  font-family: 'Lato';
}

.main {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotter {
  margin: 1rem;
  height: calc(100% - 1rem);
  max-width: 100%;
}

.settings {
  width: 25%;
  border-left: 2px solid black;
  padding: 1rem;
}

.settings-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.range-field {
  width: 100%;
  display: flex;
}

.range-field input {
  flex: 1;
  margin-right: 1rem;
}

.range-field span {
  width: 2rem;
}

.dropzone {
  margin-top: 1rem;
  opacity: 1;
  border: 2px dotted #c6ccd6;
  border-radius: 0.5rem;
}

.dropzone.highlight, .dropzone:hover {
  border: 2px dotted #007bff;
}

.dropzone .dropzone-container {
  padding: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8c96a8;
  z-index: 20;
}

.dropzone .dropzone-container .dropzone-title {
  padding-top: 1.5rem;
  text-align: center;
}

.dropzone .dropzone-container .browse {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}

.dropzone .file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.file-icon {
  position: relative;
  width: 4rem;
  height: 5.25rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2rem;
  color: #007bff;
}

.file-icon,
.file-icon:before,
.file-icon:after {
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: 0.125rem solid #b8bec9;
}

.file-icon:before,
.file-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.125rem solid #ccd0d8;
}

.file-icon:before {
  left: -0.625rem;
  top: 0.5rem;
  z-index: -1;
}

.file-icon:after {
  top: -0.25rem;
  right: -0.25rem;
  left: auto;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  border-width: 0.625rem;
  border-style: solid;
  border-color: #f9f9fb #f9f9fb #b8bec9 #b8bec9;
}

.download-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  padding: 1rem;
  background: #007bff;
  color: white;
  font-size: unset;
  line-height: unset;
  cursor: pointer;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-family: inherit;
  width: 40%;
}

.button:hover {
  opacity: 0.8;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }

  .dotter {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  .settings {
    border-left: none;
    border-top: 2px solid black;
    width: 100%;
  }
}
