@font-face {
  font-family: 'Lego';
  src: url('./fonts/Legothick.ttf') format('truetype');
}

:root {
  --accent-color: #d65a31;
  --background-color: #222831;
  --background-shadow-color: #393e46;
  --foreground-color: #eeeeee;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  font-family: 'Lato';
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotter {
  margin: 1rem;
  height: calc(100% - 1rem);
  width: 100%;
}

.side-panel {
  width: 25%;
  border-left: 2px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header h1 {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.header p{
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.settings-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.range-field {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
}

.range-field input {
  flex: 1;
  margin-right: 1rem;
  min-width: 2rem;
}

.range-field span {
  width: 2rem;
}

.slider {
  -webkit-appearance: none;
  height: 1rem;
  border-radius: 0.5rem;
  background: var(--background-shadow-color);
  outline: none;
  opacity: 1;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb:hover {
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background: var(--accent-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background: var(--accent-color);
  cursor: pointer;
}

.switch {
  margin-top: 1rem;
  cursor: pointer;
}

.switch-label {
  display: block;
}

.switch-background {
  margin-top: 0.5rem;
  position: relative;
  display: block;
  width: 3rem;
  height: 1rem;
  background-color: var(--background-shadow-color);
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.switch-handle {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--accent-color);
  top: 50%;
  left: 0;
  transition: all 0.3s;
  transform: translateY(-50%);
}

.switch.checked .switch-background {
  background-color: var(--foreground-color);
}

.switch.checked .switch-handle {
  left: 1.5rem;
}

.checkbox {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}


.dropzone {
  --border: var(--foreground-color);
  --background: var(--background-shadow-color);
  margin-top: 1rem;
  opacity: 1;
  background-color: var(--background);
  border: 2px dotted var(--border);
  border-radius: 0.5rem;
}

.dropzone.highlight, .dropzone:hover {
  border: 2px dotted var(--accent-color);
}

.dropzone .dropzone-container {
  padding: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  cursor: pointer;
}

.dropzone .dropzone-container .dropzone-title {
  padding-top: 1.5rem;
  text-align: center;
}

.dropzone .dropzone-container .browse {
  text-decoration: underline;
  color: var(--accent-color);
  cursor: pointer;
}

.dropzone .file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.file-icon {
  position: relative;
  width: 4rem;
  height: 5.25rem;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2rem;
  color: var(--accent-color);
}

.file-icon,
.file-icon:before,
.file-icon:after {
  background-color: var(--background);
  border-radius: 0.25rem;
  border: 0.125rem solid var(--border);
}

.file-icon:before,
.file-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.125rem solid var(--border);
}

.file-icon:before {
  left: -0.625rem;
  top: 0.5rem;
  z-index: -1;
}

.file-icon:after {
  top: -0.25rem;
  right: -0.25rem;
  left: auto;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  border-width: 0.625rem;
  border-style: solid;
  border-color:  var(--background) var(--background) var(--border) var(--border);
}

.download-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  margin: 0.5rem -0.5rem;
}

.button {
  flex: 1;
  padding: 1rem;
  background: var(--accent-color);
  font-size: unset;
  line-height: unset;
  color: inherit;
  cursor: pointer;
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  font-family: inherit;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.button:hover {
  opacity: 0.7;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }

  .main {
    flex: none;
  }

  .side-panel {
    border-left: none;
    border-top: 2px solid black;
    width: 100%;
  }
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer .link {
  color: white;
}

.footer .link:hover {
  text-decoration: none;
}

.spinner {
  z-index: 1000;
  background-color: #0006;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner svg {
  width: 6em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}
.spinner circle {
  fill: none;
  stroke: var(--accent-color);
  stroke-width: 4;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

[hidden] {
  display: none !important;
}
